# .gitignore for .NET projects
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
*.vs/
TestResults/
*.log
*.tlog
*.cache
*.pdb
*.dbmdl
*.dbproj.schemaview
*.vssscc
*.vsscc
*.ncb
*.sdf
*.opensdf
*.VC.db
*.VC.VC.opendb
_ReSharper*/
*.DotSettings.user
*.dotCover
*.publish/
*.swp
*.DS_Store
*.idea/
*.vscode/
